<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: 'App' }) %>
<body class="w-full relative flex flex-col">
    <header class="bg-white w-full border-b border-gray-200 fixed top-0 z-50 h-fit">
        <div class="max-w-5xl mx-auto flex justify-between items-center px-4 py-2 pt-4">
            <a href="/" class="text-2xl font-bold text-gray-900">Lion <span class="text-blue-600">Drive</span></a>
            <div class="flex items-center">
                <a href="/profile" class="btn bg-blue-600 text-white rounded-lg px-4 py-2">Profile</a>
                <a href="/logout" class="btn bg-red-600 text-white rounded-lg px-4 py-2">Logout</a>
            </div>
        </div>
    </header>
    <!-- sub header  with breadcrumb -->
    <div class="max-w-5xl w-full mx-auto flex justify-start items-center px-4 py-2 pt-4 mt-16">
        <a href="/app" class="text-gray-900 hover:text-blue-600 text-sm font-medium"><i class="bi bi-cloud-arrow-up me-1"></i>Home</a>
        <span class="text-gray-900 text-sm font-medium mx-2">/</span>
        <% parentFolders.forEach((parentFolder, index) => { %>
        <a 
            href="/app/folder/<%= parentFolder.id %>" 
            class="<%= index === parentFolders.length - 1 ? 'text-gray-500' : 'text-gray-900 hover:text-blue-600' %> text-sm font-medium">
            <i class="bi bi-folder me-1"></i><%= parentFolder.name %>
        </a>
        <!-- if not the last folder, add a / -->
        <% if (index !== parentFolders.length - 1) { %>
        <span class="text-gray-900 text-sm font-medium mx-2">/</span>
        <% } %>
        <% }) %>
    </div>
    <main class=" max-w-5xl flex flex-col mx-auto w-full mb-10">
        <% if (folder.children.length > 0) { %>
        <section id="folder-section" class="@container flex flex-col items-center justify-center h-fit px-4 py-4">
            <div class="content grid grid-cols-1 @xs:grid-cols-2 @lg:grid-cols-3  @2xl:grid-cols-4 @4xl:grid-cols-5 w-full gap-4">
                <% folder.children.forEach((child) => { %>
                <div class="folder-card-container relative w-full flex items-start justify-start h-fit gap-2 bg-white rounded-lg p-2 border border-gray-200 shadow-xs hover:bg-gray-100">
                    <a href="/app/folder/<%= child.id %>" class="folder-card w-full h-fit flex items-start gap-2 ">
                        <div class="w-full folder-content flex flex-col items-start justify-start gap-2">
                            <div class="icon flex items-center justify-center bg-blue-50 rounded-full p-2 size-10">
                                <i class="bi bi-folder text-blue-600 text-2xl"></i>
                            </div>
                            <h3 class="w-full text-gray-900 text-base font-semibold line-clamp-1"><%= child.name %></h3>
                            <p class="w-full text-gray-600 text-xs"><%= child.children.length + child.files.length %> <%= child.children.length + child.files.length <= 1 ? 'item' : 'items' %></p>
                        </div>
                    </a>
                    <div class="file-action-dropdown-menu relative w-fit flex  h-fit  ">
                        <button 
                            id="folder-<%= child.id %>-action-dropdown-trigger" 
                            onclick="toggleMenu('folder-<%= child.id %>-menu')" 
                        class="popover-trigger text-gray-900 w-fit"
                    >
                        <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <dialog 
                            id="folder-<%= child.id %>-menu" 
                            role="menu" 
                            class="popover w-max absolute top-[30px] -left-[100px] text-right h-fit bg-white rounded-lg border border-gray-200 ring-1 ring-gray-200 shadow-md z-50 overflow-hidden"
                        >
                        <button onclick="showDialogue('folder-<%= child.id %>-info')" role="menuitem" class="menu-item w-full flex gap-2 text-gray-900 text-sm font-medium  line-clamp-1 px-3 py-2 hover:bg-gray-100 border-b border-gray-200 transition-all duration-300 hover:cursor-pointer">
                            <i class="bi bi-share"></i> Share folder
                        </button>
                        <a href="/app/folder/<%= child.id %>/delete" role="menuitem" class="menu-item w-full flex gap-2 text-red-700 text-sm font-medium line-clamp-1 px-3 py-2 hover:bg-gray-100 transition-all duration-300 hover:cursor-pointer">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                            
                        </dialog>
                    </div>
                    <dialog id="folder-<%= child.id %>-info" class=" max-w-md  w-full h-fit bg-zinc-100 rounded-lg shadow-lg z-50 ring-1 ring-gray-200">
                        <form  action="/app/folder/<%= child.id %>/share" method="post" class="uploadForm w-full pb-4  relative h-fit items-center justify-center gap-2 overflow-hidden text-xs">
                            <header class="flex w-full items-center px-4 py-2 border-b border-zinc-300">
                                <!-- icon -->
                                <i class="bi bi-folder text-gray-700 text-xl w-fit"></i>
                                
                                <h5 class="text-lg w-full ml-1 mr-1 line-clamp-1 align-middle">Share <%= child.name %> Folder</h5>
                            </header>

                            <div class=" w-full px-4 py-2">
                                <p class="text-sm my-3">Generate a public link to share the current folder and it contents</p>
                                <input type="text" name="folderIdentity" value="<%= child.id %>" hidden >
                                <fieldset class="">
                                    <legend class="text-sm font-semibold text-gray-700">Please select duration:</legend>
                                    <div class="flex flex-row space-x-2 mt-1">
                                      <label class="flex items-center space-x-2 cursor-pointer">
                                        <input class="hidden peer" type="radio" id="1hr" name="duration" value="1" checked />
                                        <div class="w-5 h-5 border-2 border-gray-400 rounded-full flex items-center justify-center peer-checked:border-blue-500 peer-checked:bg-blue-500">
                                          <div class="w-2.5 h-2.5 bg-white rounded-full opacity-0 peer-checked:opacity-100"></div>
                                        </div>
                                        <span class="text-gray-700 peer-checked:text-blue-600">1 hour</span>
                                      </label>
                                  
                                      <label class="flex items-center space-x-2 cursor-pointer">
                                        <input class="hidden peer" type="radio" id="4hr" name="duration" value="4" />
                                        <div class="w-5 h-5 border-2 border-gray-400 rounded-full flex items-center justify-center peer-checked:border-blue-500 peer-checked:bg-blue-500">
                                          <div class="w-2.5 h-2.5 bg-white rounded-full opacity-0 peer-checked:opacity-100"></div>
                                        </div>
                                        <span class="text-gray-700 peer-checked:text-blue-600">4 hours</span>
                                      </label>
                                  
                                      <label class="flex items-center space-x-2 cursor-pointer">
                                        <input class="hidden peer" type="radio" id="1d" name="duration" value="24" />
                                        <div class="w-5 h-5 border-2 border-gray-400 rounded-full flex items-center justify-center peer-checked:border-blue-500 peer-checked:bg-blue-500">
                                          <div class="w-2.5 h-2.5 bg-white rounded-full opacity-0 peer-checked:opacity-100"></div>
                                        </div>
                                        <span class="text-gray-700 peer-checked:text-blue-600">1 day</span>
                                      </label>

                                      <label class="flex items-center space-x-2 cursor-pointer">
                                        <input class="hidden peer" type="radio" id="1d" name="duration" value="custom" />
                                        <div class="w-5 h-5 border-2 border-gray-400 rounded-full flex items-center justify-center peer-checked:border-blue-500 peer-checked:bg-blue-500">
                                          <div class="w-2.5 h-2.5 bg-white rounded-full opacity-0 peer-checked:opacity-100"></div>
                                        </div>
                                        <span class="text-gray-700 peer-checked:text-blue-600">Custom</span>
                                      </label>
                                    </div>
                                </fieldset>

                                <!-- Custom duration input (hidden by default) -->
                                <div class="form-group mt-3" id="custom-duration" style="display: none;">
                                    <label for="custom-days">Custom Duration (days):</label>
                                    <input type="number" 
                                        id="custom-days" 
                                        name="custom-days" 
                                        min="1" 
                                        max="365"
                                        placeholder="Enter number of days"
                                        class="h-fit px-2 py-1 rounded-md text-xs ">
                                </div>
                                
                                  
                                
                                <!-- <p class="text-red-600 tex-sm mt-3"><i class="bi bi-info-circle-fill"></i> Links will expire after the specified duration</p> -->
                                <div class="share-link-container">
                            
                                </div>
                            </div>
                           
                            <footer class="w-full flex flex-row items-center justify-end gap-4 px-4">
                                <button id="share-folder-dialog-close" type="button" onclick="closeDialogue('folder-<%= child.id %>-info')" class="btn text-red-600 font-semibold mt-4">Close</button>
                                <!-- The Create button inside the dialog retains its ID -->
                                <button id="generate-share-folder-button" type="submit" class="btn text-blue-600 font-semibold mt-4">Generate</button>
                            </footer>

                        </form>

                        
                    </dialog>
                </div>
                <% }) %>
            </div>
        </section>
        <% } %>
        <% if (folder.files.length > 0) { %>
        <section class="file-section @container/files w-full flex flex-col items-center justify-center h-fit px-4 py-4">
            <header class="w-full flex flex-row items-center justify-start gap-2 py-3 bg-[#f5f7fa]">
                <h2 class="text-gray-700 text-base font-semibold">My files <span class="text-gray-500 text-xs font-normal">(<%= folder.files.length %>)</span></h2>
            </header>
            <div class="content grid grid-cols-1 @xs:grid-cols-2 @lg:grid-cols-3 @2xl:grid-cols-4 @4xl:grid-cols-5 w-full gap-4">
                <% folder.files.forEach((file) => { %>
                    
                <div class="file-card-action-dropdown relative flex flex-col items-end h-fit bg-white rounded-lg p-2 flex flex-col items-start justify-start border border-gray-200 shadow-xs gap-2 hover:bg-gray-100">
                    <a href="<%= file.url %>" target="_blank" class="file-image  w-full h-fit ">
                        <div class="w-full file-content flex flex-col items-centers justify-center gap-2 rounded-sm overflow-hidden">
                            <% if (file.type.includes('image') && !file.type.includes('svg')) { %>
                                <img src="<%= file.url %>" alt="<%= file.name %>" class="w-full h-auto aspect-[1/1] object-cover object-center">
                            <% } else if (file.type.includes('svg')) { %>
                                <div class="w-full aspect-[1/1] h-auto flex items-center justify-center">
                                    <i class="bi bi-file-earmark-svgs text-red-600 text-4xl w-fit"></i>
                                </div>
                            <% } else if (file.type.includes('pdf')) { %>                                   
                                <div class="w-full aspect-[1/1] h-auto flex items-center justify-center">
                                    <i class="bi bi-file-earmark-pdf text-red-600 text-4xl w-fit"></i>
                                </div>
                            <% } else if (file.type.includes('doc')) { %>
                                <div class="w-full aspect-[1/1] h-auto flex items-center justify-center">
                                    <i class="bi bi-file-earmark-word text-blue-600 text-4xl w-fit"></i>
                                </div>

                            <% } else if (file.type.includes('xls')) { %>
                                <div class="w-full aspect-[1/1] h-auto flex items-center justify-center">
                                    <i class="bi bi-file-earmark-excel text-green-600 text-4xl w-fit"></i>
                                </div>
                            <% } else if (file.type.includes('ppt')) { %>
                                <div class="w-full aspect-[1/1] h-auto flex items-center justify-center">
                                    <i class="bi bi-file-earmark-ppt text-yellow-600 text-4xl w-fit"></i>
                                </div>
                            <% } %>
                            <!-- <div class="icon flex items-center justify-center size-fit mx-auto mt-4">
                            </div> -->
                        </div>
                    </a>
                    <div class="file-title-action relative w-full flex  h-fit  ">
                        <a href="<%= file.url %>" class="w-full text-gray-900 text-sm font-medium line-clamp-1"><%= file.name %></a>
                        <div class="file-action-dropdown-menu relative w-fit flex  h-fit  ">
                            <button 
                                id="file-card-action-dropdown-trigger" 
                                onclick="toggleMenu('file-<%= file.id %>-menu')" 
                            class="popover-trigger text-gray-900 w-fit"
                        >
                            <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <dialog 
                                id="file-<%= file.id %>-menu" 
                                role="menu" 
                                class="popover w-max absolute bottom-[30px] -left-[80px] text-right h-fit bg-white rounded-lg border border-gray-200 shadow-sm z-50 overflow-hidden ring-1 ring-gray-200"
                            >
                                <a href="/app/download/<%= file.id %>" class="menu-item w-full flex gap-2 text-gray-900 text-sm font-medium line-clamp-1 px-3 py-2 hover:bg-gray-100 border-b border-gray-200 transition-all duration-300 hover:cursor-pointer">
                                    <i class="bi bi-download"></i> Download
                                </a>
                                <button onclick="showDialogue('file-<%= file.id %>-info')" role="menuitem" class="menu-item w-full flex gap-2 text-gray-900 text-sm font-medium  line-clamp-1 px-3 py-2 hover:bg-gray-100 border-b border-gray-200 transition-all duration-300 hover:cursor-pointer">
                                   <i class="bi bi-info-circle-fill"></i> Info
                                </button>
                                <a href="/app/file/<%= file.id %>/delete" role="menuitem" class="menu-item w-full flex gap-2 text-red-700 text-sm font-medium line-clamp-1 px-3 py-2 hover:bg-gray-100 transition-all duration-300 hover:cursor-pointer">
                                   <i class="bi bi-trash"></i> Delete
                                </a>
                            </dialog>
                        </div>
                    </div>
                    <dialog id="file-<%= file.id %>-info" class=" max-w-md  w-full h-fit bg-zinc-100 rounded-lg shadow-lg z-50 ring-1 ring-gray-200">
                        <div id="uploadForm"  class="w-full pb-4  relative h-fit items-center justify-center gap-2 overflow-hidden text-xs">
                            <header class="flex w-full items-center px-4 py-2 border-b border-zinc-300">
                                <!-- icon -->
                                <% if (file.type.includes('image') && !file.type.includes('svg')) { %>
                                    <i class="bi bi-file-earmark-image text-gray-600 texlg w-fit"></i>
                                <% } else if (file.type.includes('svg')) { %>
                                        <i class="bi bi-file-earmark-svgs text-red-600 text-lg w-fit"></i>
                                <% } else if (file.type.includes('pdf')) { %>                                   
                                        <i class="bi bi-file-earmark-pdf text-red-600 text-lg w-fit"></i>
                                <% } else if (file.type.includes('doc')) { %>
                                        <i class="bi bi-file-earmark-word text-blue-600 text-lg w-fit"></i>
                                <% } else if (file.type.includes('xls')) { %>
                                        <i class="bi bi-file-earmark-excel text-green-600 text-lg w-fit"></i>
                                <% } else if (file.type.includes('ppt')) { %>
                                        <i class="bi bi-file-earmark-ppt text-yellow-600 text-lg w-fit"></i>
                                <% } %>
                                <h5 class="text-lg w-full ml-1 mr-1 line-clamp-1 align-middle"><%= file.name %></h5>
                                <button onclick="closeDialogue('file-<%= file.id %>-info')" class="size-4 ml-auto mr-0 grid place-content-center text-center text-xs rounded-full p-1 bg-red-500 text-white">x</button>
                            </header>
                            <table class="table-auto w-full border-collapse">
                                <tbody>
                                    <tr class="">
                                        <td class="text-left px-4 py-2 font-semibold">Name:</td>
                                        <td class="px-4 py-2"><%= file.name %></td>
                                    </tr>
                                    <tr class="">
                                        <td class="text-left px-4 py-2 font-semibold">Type:</td>
                                        <td class="px-4 py-2">
                                            <%= file.type.includes('pdf') ? 'PDF' : 
                                                file.type.includes('doc') ? 'DOC' : 
                                                file.type.includes('svg') ? 'SVG' : 
                                                file.type.includes('xls') ? 'XLS' : 
                                                file.type.includes('ppt') ? 'PPT' : file.type %>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="text-left px-4 py-2 font-semibold">Location:</td>
                                        <td class="px-4 py-2">Home <span class="text-[6px] align-middle">►</span> <% parentFolders.forEach((parentFolder, index) => { %>
                                            <%= parentFolder.name  %>
                                            <% if (index !== parentFolders.length - 1) { %>
                                                 <span class="text-[6px] align-middle">►</span>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="text-left px-4 py-2 font-semibold">Size:</td>
                                        <td class="px-4 py-2">
                                            <%= file.size %> bytes 
                                            (<%= file.size < 1000000 ? (file.size / 1000).toFixed(2) + " KB" : (file.size / 1000000).toFixed(2) + " MB" %>)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left px-4 py-2 font-semibold">Created:</td>
                                        <td class="px-4 py-2">
                                            <% let systemTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone; %>
                                            <%= file.createdAt.toLocaleString('en-US', { 
                                                month: 'long', 
                                                year: 'numeric', 
                                                day: 'numeric', 
                                                hour: '2-digit', 
                                                minute: '2-digit', 
                                                second: '2-digit', 
                                                timeZone: systemTimeZone,
                                                timeZoneName: 'short' 
                                            }) %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </dialog>
                </div>
                <% }) %>
            </div>
        </section>
        <% } %>
        <%if(folder.children.length == 0 && folder.files.length == 0 ) { %>
            <section class="file-section @container/files w-full flex flex-col items-center justify-center h-fit px-4 py-4">
                <div class="w-full flex flex-col items-center justify-center gap-2 py-3 bg-[#f5f7fa]">
                    <div class="w-fit flex flex-col items-center justify-center gap-2 bg-white rounded-lg p-6 border border-gray-200 shadow-xs">
                        <h2 class="text-gray-700  w-fit text-center text-base font-semibold ">No files in this folder</h2>
                        <div class="w-full flex flex-row items-center justify-center gap-2 mt-4">
                            <button onclick="showDialogue('upload-file-dialog')" class=" text-blue-600 font-semibold text-sm hover:text-blue-700">Upload file</button>
                            <button onclick="showDialogue('create-folder-dialog')" class=" text-blue-600 font-semibold text-sm hover:text-blue-700">Create folder</button>
                        </div>
                    </div>
                </div>
            </section>
        <% } %>
        <section class="fixed bottom-24 w-full h-fit z-100 max-w-5xl mx-auto">
            <div class=" relative w-fit h-fit ml-auto mr-4">
                <button 
                    id="open-create-folder-button" 
                    onclick="toggleMenu('create-button-dialog')" 
                    class="popover-trigger size-10 btn bg-blue-600 text-white rounded-full p-2 flex items-center justify-center shadow-lg">
                    <i class="bi bi-plus text-2xl"></i>
                </button>
                <!-- create folder and upload file dialogue -->
                <dialog 
                    id="create-button-dialog" 
                    role="menu" 
                    class="popover w-max absolute bottom-[30px] -left-[80px] text-right h-fit bg-white rounded-lg border border-gray-200 shadow-sm z-50"
                >
                    <button onclick="showDialogue('create-folder-dialog')" role="menuitem" class="menu-item w-full text-gray-900 text-sm font-medium line-clamp-1 px-3 py-2 hover:bg-gray-100 border-b border-gray-200 transition-all duration-300 hover:cursor-pointer">Create folder</button>
                    <button onclick="showDialogue('upload-file-dialog')" role="menuitem" class="menu-item w-full text-gray-900 text-sm font-medium line-clamp-1 px-3 py-2 hover:bg-gray-100 transition-all duration-300 hover:cursor-pointer">Upload file</button>
                </dialog>
                
                    
            </div>
        </section>
        
        <dialog id="create-folder-dialog" class="absolute  max-w-md w-full h-fit bg-white rounded-lg p-6 shadow-lg z-50 ring-1 ring-gray-200">
            <form action="/app/folder" method="post" class="w-full h-fit ">
                <h2 class="text-gray-900 text-base font-semibold mb-4 mt-2">Create new folder</h2>
                <input type="hidden" name="parentFolderId" value="<%= folder.id %>">
                <input type="text" name="folderName" id="create-folder-name" class="w-full p-2 rounded-lg border border-gray-200" placeholder="Folder name">
                <div class="w-full flex flex-row items-center justify-end gap-4">
                    <button id="create-folder-dialog-close" type="button" onclick="closeDialogue('create-folder-dialog')" class="btn text-red-600 font-semibold mt-4">Cancel</button>
                    <!-- The Create button inside the dialog retains its ID -->
                    <button id="create-folder-button" type="submit" class="btn text-blue-600 font-semibold mt-4">Create</button>
                </div>
            </form>
        </dialog>
        <dialog id="upload-file-dialog" class="absolute  max-w-md  w-full h-fit bg-white rounded-lg py-6 shadow-lg z-50 ring-1 ring-gray-200">
            <form id="uploadForm" enctype="multipart/form-data" action="/app/upload" method="post" class="w-full  relative h-fit items-center justify-center gap-2 overflow-hidden">
                <p class=" text-gray-900 text-base font-semibold mb-1 px-6">Upload files (max 5 files)</p>
                <div class="w-full relative flex flex-col items-center justify-center gap-0 px-6 mb-4">
                    <label for="file" id="dropzone" class="dropzone max-w-md w-full h-fit flex flex-col items-center justify-center gap-2 text-center border border-dashed border-gray-300 rounded-lg p-8 my-5 mx-auto cursor-pointer transition-all duration-300 hover:bg-gray-100 hover:border-blue-600 active:bg-blue-600 active:border-blue-600 active:text-white">
                        <i class="bi bi-cloud-arrow-up text-blue-600 text-6xl"></i>
                        <p class="text-gray-900 text-base font-normal">Drop files here or <span class="text-blue-600">click to upload</span></p>
                        <input type="file" name="file" id="file" multiple  accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation" hidden >
                        <input type="hidden" name="parentFolderId" value="<%= folder.id %>">
                    </label>
                    <div class="w-full flex flex-row items-center justify-between gap-2">
                        <p class=" text-gray-700 text-xs font-normal text-left text-wrap">Supported formats: image, pdf, doc, xls, ppt</p>
                        <p class=" text-gray-700 text-xs font-normal text-right text-wrap">Max file size: <span class="font-bold">5mb</span></p>
                    </div>
                </div>

                <ul id="upload-file-list" class="list-none max-w-md max-h-[200px] mb-2 mx-auto w-full h-full flex flex-col items-start justify-start gap-2  overflow-y-auto px-6"></ul>

                <div class="w-full sticky bottom-0 flex flex-row items-center justify-end gap-4 px-6 border-t border-gray-200">
                    <button id="upload-file-dialog-close" type="button" onclick="closeDialogue('upload-file-dialog')" class="btn text-red-600 font-semibold mt-4">Close</button>
                    <!-- The Create button inside the dialog retains its ID -->
                    <button id="upload-file-button" type="submit" class="btn text-blue-600 font-semibold mt-4">Upload</button>
                    <button id="upload-file-done-button" type="button" class="hidden text-blue-600 font-semibold mt-4">Done</button>
                </div>
            </form>
        </dialog>
    </main>
    <%- include('partials/footer') %>
    <script defer src="/js/showDialogue.js"></script>
    <script defer src="/js/popoverAction.js"></script>
    <script defer src="/js/uploadFile.js"></script>
    <script defer src="/js/genrateShareLink.js"></script>
</body>
</html>
